<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>北京</string>
		<key>startTax</key>
		<integer>3500</integer>
		<key>minSecurity</key>
		<integer>3134</integer>
		<key>minHouse</key>
		<integer>1560</integer>
		<key>maxHouse</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>上海</string>
		<key>startTax</key>
		<integer>3500</integer>
		<key>startSecurity</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
</array>
</plist>
