<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>北京</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>上海</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>广州</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>深圳</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>杭州</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>cityName</key>
		<string>苏州</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>宁波</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>南京</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>厦门</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>珠海</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>武汉</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>成都</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>重庆</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>西安</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>昆明</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>青岛</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>沈阳</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>天津</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>selfBrith</key>
		<integer>0</integer>
		<key>selfHurt</key>
		<integer>0</integer>
		<key>cityName</key>
		<string>其他</string>
		<key>startMoney</key>
		<integer>3500</integer>
		<key>minMoney</key>
		<integer>3134</integer>
		<key>housemaxMoney</key>
		<integer>1560</integer>
		<key>houseMinMoney</key>
		<integer>15669</integer>
		<key>selfOld</key>
		<real>0.08</real>
		<key>selfMed</key>
		<real>0.02</real>
		<key>selfJob</key>
		<real>0.002</real>
		<key>selfHouse</key>
		<real>0.12</real>
		<key>comOld</key>
		<real>0.2</real>
		<key>comMed</key>
		<real>0.1</real>
		<key>comJob</key>
		<real>0.01</real>
		<key>comHurt</key>
		<real>0.003</real>
		<key>comBirth</key>
		<real>0.008</real>
		<key>comHouse</key>
		<real>0.12</real>
	</dict>
</array>
</plist>
